{
  "env": {
      "browser": true,
      "es2021": true
  },
  "extends": [
      "plugin:react/recommended",
      "airbnb"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
  },
  "plugins": [
      "react",
      "@typescript-eslint"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "jest/prefer-expect-assertions": ["warn", { "onlyFunctionsWithAsyncKeyword": true }],
    "max-depth": "error",
    "no-param-reassign": 0,
    "react/jsx-props-no-spreading": ["error", { "custom": "ignore" }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.{ts,tsx,js,jsx}", "**/*.spec.{ts,tsx,js,jsx}", "**/*.stories.{ts,tsx,js,jsx}"]
      }
    ],
    "import/no-named-as-default": 0,
    "import/newline-after-import": 0
  }
}
